body {
    display: flex;
    justify-content: center;
    margin-top: 101px;
  
}
  

form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  
    
}


.label #username {
    position: relative;
    margin-top: 0rem;
    font-size: 1.2rem;
}


.label #password {
    padding: 0.8rem;
    font-size: 1.2rem;
}


form .username :first-child {
    margin-bottom: 1.5rem;
}

#btn[type="submit"] {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 0rem;
    padding: 0.4rem;
}